# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @KenzieAcademy/se-2-coaches


    for unused_i in range(200):
        print(word)
        next_word = mimic_dict.get(word)
        if not next_word:
            next_word = mimic_dict['']
        word = random.choice(next_word)